%ul.nav.nav-tabs
  %li.active=link_to tag_icon(:list, pat(:list)), url(:room_cars, :index)
  %li=link_to tag_icon(:plus, pat(:new)), url(:room_cars, :new)

.tabs-content
  %table#list.table.table-striped.table-hover.table-condensed
    %thead
      %tr
        %th.header.list-menu
          .dropdown
            %a.list-menu-toggle.dropdown-toggle{:href => '#', :'data-toggle' => :dropdown}
              =tag_icon :magic
              %span.caret
            %ul.list-menu.dropdown-menu{:role => :menu}
              %li.list-menu-wrapper=link_to tag_icon(:check, pat(:select_all)), '#', :id => 'select-all', :class => 'list-menu-link'
              %li.list-menu-wrapper.list-menu-wrapper-disabled
                =link_to tag_icon(:'check-empty', pat(:deselect_all)), '#', :id => 'deselect-all', :class => 'list-menu-link list-menu-link-disabled'
              %li.list-menu-divider.divider
              %li.list-menu-wrapper.list-menu-wrapper-disabled
                =link_to tag_icon(:trash, pat(:delete_selected)), '#', :id => 'delete-selected', :class => 'list-menu-link list-menu-link-disabled'
                .list-menu-popover-delete-selected.popover.right
                  .arrow
                  %h3.popover-title=pat(:delete_selected_title)
                  .popover-content
                    = form_tag url(:room_cars, :destroy_many), :method => :delete do
                      =hidden_field_tag :room_car_ids, :'data-delete-many-ids' => true
                      =submit_tag pat(:delete), :class =>'list-menu-popover-delete-selected-btn btn btn-danger btn-small'
                      .btn.btn-default.btn-small.cancel=pat(:cancel)
        %th.header= mat(:room_car, :id)
        %th.header= mat(:room_car, :cartype)
        %th.header= mat(:room_car, :brand)
        %th.header= mat(:room_car, :number)
        %th.header= mat(:room_car, :color)
        %th.header= mat(:room_car, :room_id)
        %th.header= mat(:room_car, :created_at)
        %th.header= mat(:room_car, :updated_at)
        %th.header.list-row-action-header

    %tbody
      -@room_cars.each do |room_car|
        %tr.list-row
          %td.list-column.list-selectable
            =check_box_tag 'room_car_ids[]', :value => room_car.id, :class => 'list-selectable-checkbox'
          %td.list-column=room_car.id
          %td.list-column=room_car.cartype
          %td.list-column=room_car.brand
          %td.list-column=room_car.number
          %td.list-column=room_car.color
          %td.list-column=room_car.room_id
          %td.list-column=time_ago_in_words room_car.created_at
          %td.list-column=time_ago_in_words room_car.updated_at
          %td.list-column.list-row-action
            .list-row-action-wrapper
              =link_to tag_icon(:edit), :href => url(:room_cars, :edit, :id => room_car.id), :rel => :tooltip, :title => "#{pat(:edit)} room_car", :class => 'list-row-action-wrapper-link'
              =link_to tag_icon(:trash), :rel => :tooltip, :title => "#{pat(:delete)} room_car", :class => 'list-row-action-delete-one list-row-action-wrapper-link'
              .popover.list-row-action-popover-delete-one.left
                .arrow
                %h3.popover-title=pat(:delete, :model => "room_car")
                .popover-content
                  = form_tag url(:room_cars, :destroy, :id => room_car.id), :method => :delete do
                    =submit_tag pat(:delete), :class =>'list-row-action-popover-delete-one-btn btn btn-danger btn-small'
                    .btn.btn-default.btn-small.cancel=pat(:cancel)
