!!! 5
%html{:lang => 'en'}
  %head
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    %meta{:content => 'text/html; charset=utf-8', 'http-equiv' => 'Content-Type'}
    %meta{:name => :viewport, :content => 'width=device-width,initial-scale=1'}
    %title= @title.present? ? "#{@title} | Padrino Admin" : "Padrino Admin"
    =favicon_tag 'favicon.ico'
    /%link{:href => 'http://fonts.googleapis.com/css?family=Varela', :rel => :stylesheet}
    =stylesheet_link_tag 'bootstrap', 'application'
    /%link{:href=>"/stylesheets/bootstrap.css",:rel=>"stylesheet",:type=>"text/css"}
    /%link{:href=>"/stylesheets/application.css",:rel=>"stylesheet",:type=>"text/css"}
    

  %body
    %nav.navbar.navbar-default{:role=>"navigation"}
      .container-fluid
        .navbar-header
          =link_to "Life-QianKun",url("/"),:class=>"navbar-brand"         
        .collapse.navbar-collapse{:id=>"bs-example-navbar-collapse-1"}
          %ul.nav.navbar-nav
            %li
              =link_to "消息",url("/")
            %li=link_to "活动",url("/")
            %li=link_to "物业公司（物业）",Qiankun::Org.url(:base,:index)
            %li.dropdown
              =link_to tag_icon("angle-down","邻里关系(业主)"),url("/"),"data-toggle"=>"dropdown",:class=>"dropdown-toggle"
              
              %ul.dropdown-menu{:role=>"menu"}
                %li
                  %a{:href=>"#"} Action
                %li
                  %a{:href=>"#"} Another Action
                %li.divider
                %li=link_to "Separated link",url("#")

                %li.divider
                %li=link_to "Separated link",url("#")
          %ul.nav.navbar-nav.navbar-right
            %li=link_to "后台管理",Qiankun::Admin.url(:base,:index),:target=>"_blank"
            %li=link_to "dev_help",Qiankun::App.url(:dev_help,:index),:target=>"_blank"
            /%li=link_to tag_icon(:user,"编辑用户资料"), Qiankun::Um.url(:users, :edit,:id =>session[:user_id]), :title =>pat(:profile), :class => 'navbar-nav-link'
            -puts "session[:user_id]=#{session[:user_id]}"
            -if session[:user_id].nil?
              %li=link_to "注册",Qiankun::Um.url(:users,:new)            
              %li=link_to "登录",Qiankun::Um.url(:sessions,:new)
            -else
              %li=link_to "欢迎 #{session[:user_name]}！" ,url("#")
              %li.dropdown
                =link_to"我的乾坤",url("/#"),{"data-toggle"=>"dropdown"}
                %ul.dropdown-menu{:role=>"menu"}
                  %li.navbar-edit-account=link_to tag_icon(:user,"用户编辑"), Qiankun::Um.url(:users, :edit, :id =>session[:user_id]), :title => pat(:profile), :class => 'navbar-nav-link'
                  %li=link_to "头像编辑",Qiankun::Um.url(:users,:headeredit,:id=> session[:user_id])                 
                  %li.divider
                  %li
                    %a{:href=>"#"}Action

    
    .container.main
      /.main-wrapper
      ={:error => 'danger', :warning => 'warning', :success => 'success', :notice => 'info'}.map { |type, class_name| flash_tag(type, :class => "alert alert-#{class_name} fade in", :bootstrap => true) }.join.html_safe
      .row=yield
        
      /%p="hello, this layout is  from layout inside app/views/layouts/application.haml"
      .main-wrapper-push

    %footer
      .footer-wrapper.container
        %p.pull-left
          Copyright &copy;
          =Time.now.year
          Your Site - Powered by Padrino v.#{Padrino.version}
        %ul.pull-right.footer-links
          %li= link_to tag_icon(:home, 'web'), 'http://www.padrinorb.com', :target => :_blank, :class => 'footer-links-link'
          %li= link_to tag_icon(:heart, 'blog'), 'http://www.padrinorb.com/blog', :target => :_blank, :class => 'footer-links-link'
          %li= link_to tag_icon(:github, 'code'), 'https://github.com/padrino/padrino-framework', :target => :_blank, :class => 'footer-links-link'
          %li= link_to tag_icon(:twitter, 'twitter'), 'http://twitter.com/padrinorb', :target => :_blank, :class => 'footer-links-link'

    =javascript_include_tag 'jquery', (Padrino.env == :production ? 'bootstrap/bootstrap.min' : %w[bootstrap/affix bootstrap/alert bootstrap/button bootstrap/carousel bootstrap/collapse bootstrap/dropdown  bootstrap/tooltip bootstrap/transition  bootstrap/modal bootstrap/popover bootstrap/scrollspy bootstrap/tab]), :application
    /=javascript_include_tag 'jquery-1.9.0.min',  'bootstrap.min', :application
